.header {
    background: url(../assets/images/bg.jpg);
    position: relative;
    .wrapper {
        width: 1000px;
        margin: 0 auto;
        height: 460px;
        .logo {
            img {
                width: 560px;
                height: 92px;
            }
        }
        .phones {
            width: 250px;
            color: #ffffff;
            position: absolute;
            right: 0;
            bottom: 100px;
            p {
                font-size: 24px;
            }
        }
    }

}