.main {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: -58px;
}
.menu {
  height: 58px;
  background: url(../assets/images/menu-bg.jpg);
  color: #ffffff;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    li {
      text-align: center;
      height: 30px;
      flex: 1;
      border-left: 2px solid;
      &:first-child {
        border-left: none;
      }
      &.actived, &:hover {
        a {
          opacity: 1;
        }
      }
      a {
        color: #ffffff;
        opacity: .6;
      }
    }
  }
}
.content {
  margin-top: 20px;
  display: flex;
  min-height: 600px;
  border-bottom: 5px solid #11559d;
  .left {
    width: 272px;
    padding: 0 10px;
    .contact {
      background: url(../assets/images/contact.jpg);
      height: 31px;
      font-size: 16px;
      line-height: 31px;
      color: #ffffff;
      padding-left: 20px;
      p {
        margin: 5px 0;
      }
    }
    .details {
      font-size: 16px;
      font-family: "宋体";
      p {
        margin: 10px 0;
      }
    }
  }
  .right {
    flex: 1;
    padding: 0 10px;
    .nav {
      height: 38px;
      line-height: 38px;
      .title {
        font-size: 16px;
        font-weight: bold;
        color: #0174db;

      }
      border-bottom: 1px dashed #dbdbdb;
    }
    .description {
      .title {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        border-bottom: 1px dashed #dbdbdb;
        text-align: center;
        margin: 30px 0;
      }
      p {
        margin: 20px 0;
        text-indent: 2em;
        line-height: 2em;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }

}