.page {
    display: flex;
    .left-nav {
        background: url(../assets/images/contact.jpg);
        height: 31px;
        font-size: 16px;
        line-height: 31px;
        color: #ffffff;
        padding-left: 20px;
        p {
          margin: 5px 0;
        }
    }
    .details {
        font-size: 16px;
        font-family: "宋体";
        p {
          margin: 10px 0;
        }
    }
    .right-nav {
        height: 38px;
        line-height: 38px;
        .title {
          font-size: 16px;
          font-weight: bold;
          color: #0174db;
  
        }
        border-bottom: 1px dashed #dbdbdb;
    }
}

.introduce {
    .description {
        .title {
          font-size: 16px;
          font-weight: bold;
          color: #000000;
          border-bottom: 1px dashed #dbdbdb;
          text-align: center;
          margin: 30px 0;
        }
        p {
          margin: 20px 0;
          text-indent: 2em;
          line-height: 2em;
        }
    }
}

.contact {
    height: 520px;
    iframe {
        height: 100%;
        width: 100%;
        border: 0;
    }
}

.product {
    .product-list {
        margin-bottom: 20px;
        text-align: center;
    }
    .item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        height: 150px;
        text-align: center;
        margin: 20px 10px;
        img {
            border: 1px solid #cccccc;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .page {
      flex-direction: column;
    }
    .product {
        .item {
            width: 40%;
            p {
                height: 36px;
            }
        }
    }
}